Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env*.local
.env
*.md
.vscode
.idea
.DS_Store
*.log
server.log
.data
coverage
.tip-store.json*
*.sql
*.rdb
backup_*

